body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 6px;  
    color: #212121;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 3px;
    text-align: center;
    margin: 0 auto;
 }

 .title-box {    
    text-align: center;    
    max-width: 615px;
    margin: 0 auto;
}
.title-header {
    margin: 203px auto 0;
}
 .title-header h3 {
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.1px;
    text-align: center;
    margin: 46px auto;   
    line-height: 2;
 }
 .title-30 {
    font-size: 30px;
    letter-spacing: 1.7px;
    font-weight: 700;
    color: #212121;
    line-height: 1.5;
    margin: 0;
}
.title-contact {   
    color: #fff;       
}
.title-item {
    font-size: 15px;
    letter-spacing: 0.67px;
    line-height: 1.5;
    margin-top: 19px;
}
.title-item-contact {    
    color: #fff;   
}
.wrap {
    max-width: 1170px;
    margin: 0 auto;    
    padding-left: 15px;
    padding-right: 15px;
}
.box-header {   
    background-color: #ffffff;    
    padding-left: 15px;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 109px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    margin-left: auto 20px;
}
.nav {
    font-size: 23px;
    font-weight: 600;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;   
}
.nav>li {
    padding: 0 20px;
}
.nav>li:last-child {
    padding-right: 0;
}
.nav-item {
    color: #212121;
    letter-spacing: 2px;
}
.nav-modal {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-modal>li {
    margin-bottom: 17px;
}
.nav-modal>li:last-child {
    margin-top: 35px;
}
.btn-menu {
    border: none;    
    display: none;
    background-color: transparent;
}
.btn-menu:focus {
    outline: none;
}
.btn-menu svg {
    width: 35px;
    height: 35px;
    fill: #192b59;
}
.btn-close {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 21px;
    top: 15px;
    font-size: 35px;
    color: #6e7ea9;
    opacity: 0.2;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-close:hover {
    opacity: 1;
}
.btn-close:focus {
    outline: none; 
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 30px 15px 15px 15px;
    -webkit-box-shadow: 0 5px 6px #f4f4f4;
            box-shadow: 0 5px 6px #f4f4f4;
    border-radius: 10px; 
}
.btn-group {
    text-align: center;
    margin: 132px auto 120px; 
}
.btn-group a + a {
    margin-left: 19px;    
}
.btn-group a {
    margin-right: 4px;    
}
.more {    
    width: 27px;
    margin-left: auto;
    margin-right: auto; 
}
.more span {
    font-size: 27px;  
    color: #fff;
}
.btn-primary {    
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fff;
    padding: 18px 33px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-secondary {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #fff;
    padding: 18px 42px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.btn-primary:hover,  .btn-secondary:hover{
    background-color: #00897b;
    border: 3px solid #00897b;    
}
.flex-about {   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;  
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.flex-about-item {
    text-align: center;
    -ms-flex-preferred-size: 31.7%;
        flex-basis: 31.7%;
    margin-top: 88px;   
}    
.flex-about-item h3{
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    margin: 36px 0 16px 0;
    letter-spacing: 1px;
}
.flex-about-item p{
    font-size: 15px;
    font-weight: 400;
    color: #212121;
    letter-spacing: 0.7px;
    line-height: 1.5;
    max-width: 256px;
    margin: 26px auto 0px;
}
.about-icon {
    background-repeat: no-repeat;
    display: block;
    height: 82px;
    background-position: center;
    margin: 12px auto 28px;
    height: 75px;
}
.about-icon1 {
    background-image: url(../img/icon1.png);
    background-size: 68px 68px;    
}
.about-icon2 {
    background-image: url(../img/icon2.png);
    background-size: 69px 62px;    
}
.about-icon3 {
    background-image: url(../img/icon3.png);
    background-size: 63px 62px;    
}
.grid-services {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;     
    margin: 108px auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;          
}
.grid-item-1 {
    grid-area: a;   
}
.grid-item-2 {
    grid-area: b;
}
.grid-item-3 {
    grid-area: c;    
}
.grid-item-4 {
    grid-area: d;
}
.grid-item-5 {
    grid-area: e;
}
.grid-item-6 {
    grid-area: f;
}
.grid-item, .grid-item-work {
    background-color: #fff;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 
.grid-icon {
    background-image: url(../img/grid-icon.png);
    background-size: 63px 68px;
    background-repeat: no-repeat;
    display: block;
    height: 78px;
    margin: 53px auto 0;
    background-position: center;
}
.grid-icon-active {
    background-image: url(../img/grid-icon-active.png);
    background-size: 68px 70px;
}
.grid-item h3{
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1.1px;
    margin: 35px auto 23px;
}
.grid-item p{
    color: #212121;
    font-size: 15px;
    font-weight: 400;
    margin: 0 50px 47px;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.btn-services {
    display: block;
    color: #212121;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #212121;
    padding: 23px 14px;
    margin: 43px auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 0px;
    max-width: 118px;
}
.btn-services:hover {
    color: #fff;
    background-color: #00897b;
    border: 2px solid #00897b;
}
.flex-work {    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    max-width: 680px;
    margin: 135px auto 142px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btn-work { 
    color: #212121;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #cfdddc;    
    -webkit-transition: 0.3s;    
    transition: 0.3s;    
}
.btn-work-1 {    
    padding: 12px 29px;
    margin-left: -1px;
}
.btn-work-2 {        
    padding: 12px 21px;
    margin-left: 4px;
} 
.btn-work-3 {    
    padding: 12px 14px;
    margin-right: -1px;
}
.btn-work-4 {    
    padding: 12px 35px;
    margin-right: -7px;
}
.btn-work-5 {       
    letter-spacing: 0.6px;    
    padding: 19px 61px;    
    margin-left: 3px;
}
.btn-work:hover {
    color: #fff;
    background-color: #00897b;       
}
.grid-work {
    display: grid;
    grid-template-areas: "a b c" "d e f";
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 770px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;            
}
.grid-work-1 {
    grid-area: a;
    background-image: url(../img/img1.png);
    background-size: contain;
    background-repeat: no-repeat;     
}
.grid-work-2 {
    grid-area: b;
    background-image: url(../img/img2.png);
    background-size: contain; 
    background-repeat: no-repeat;    
}
.grid-work-3 {
    grid-area: c;
    background-image: url(../img/img3.png);
    background-size: contain;
    background-repeat: no-repeat; 
}
.grid-work-4 {
    grid-area: d;
    background-image: url(../img/img4.png);
    background-size: contain;
    background-repeat: no-repeat; 
}    
.grid-work-5 {
    grid-area: e;
    background-image: url(../img/img5.png);
    background-size: contain;
    background-repeat: no-repeat; 
}
.grid-work-6 {
    grid-area: f;
    background-image: url(../img/img6.png);
    background-size: contain;
    background-repeat: no-repeat; 
}
.grid-item:hover {
    background-color: 1 1 15 rgba(63, 62, 62, 0.5); 
}
.view-work {
    margin: 163px auto 0;
    text-align: center;
}
.box-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
sup {
    font-size: 70%;
}
.box-price-item {
    background-image: url(../img/price-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    -ms-flex-preferred-size: 371px;
        flex-basis: 371px;
    position: relative;
    padding: 0 0 68px;
    text-align: center;
    margin: 110px auto 0;
}
.box-price-item:hover {
    -webkit-box-shadow: 0 0 20px rgb(63, 62, 62);
            box-shadow: 0 0 20px rgb(63, 62, 62);
}    
.box-price-item p {
    font-size: 25px;
    color: #fff;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin: 53px auto 62px;
}
.box-price-item h3 {
    color: #fff;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: 400;
    margin: 53px auto 134px;
}
.box-price-item h3 span {
    font-size: 17px;
    letter-spacing: 0.5px;
    margin-left: 1px;
}
.box-price-item h3 span:first-child {
    font-size: 25px;
} 
.box-price-item ul {
    list-style-type: none;
    color: #212121;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-left: 0;
    margin: 0;
}
.box-price-item ul>li span {
    border-bottom: 1px solid #212121;    
    padding: 0 34px 9px;
}
.box-price-item ul>li {
    margin: 0 auto 58px;
}
.btn-info {
    color: #212121;
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #212121;
    padding: 25px 11px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: block;
    text-transform: uppercase;
    margin: 85px auto 0;
    width: 153px;
}
.btn-info:hover {
    color: #fff;
    background-color: #00897b;
    border: 2px solid #00897b;
}
.box-team { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;   
    -webkit-box-pack: justify;   
        -ms-flex-pack: justify;   
            justify-content: space-between; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
    margin: 0 auto;
}
.box-team-item {
    background-color: #fff;
    -ms-flex-preferred-size: 31.5%;
        flex-basis: 31.5%;
    position: relative;
    text-align: center;
    margin: 111px auto 0;
}
.box-team-item .name {
    font-size: 20px;
    color: #212121;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 43px auto 23px;
    max-width: 140px;    
}
.box-team-item .position {
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    margin: 0 auto 35px;
    letter-spacing: 0.5px;
}
.list-members {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    margin: 127px auto 0;
    padding: 0;
}
.btn-list {
    background-color: #00897b;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    width: 14px;
    height: 14px;   
    border: none;
}
.btn-list:hover {
    background-color: #3949ab;
}
.box-team-item .social-team {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 0;
}    
.box-team-item .btn-team {
    background-color: #f3f3f3;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    width: 50px;
    height: 50px;
    margin: auto 12px;
    border: none;   
}
.box-team-item .btn-team:hover {
    background-color: #3949ab;
}
.box-team-item .btn-team span{    
    background-image: url(../img/btn-team.png);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    -ms-flex-item-align: center;
        align-self: center;
}
.box-team-item .btn-fb span{    
    background-position: -15px -6px;
    width: 18px;
    height: 32px;    
}
.box-team-item .btn-fb:hover span{    
    background-position: -15px -45px;
}
.box-team-item .btn-tw span{    
    background-position: -42px -8px;
    width: 30px;
    height: 26px;    
}
.box-team-item .btn-tw:hover span{    
    background-position: -42px -47px;
}
.box-team-item .btn-be span{    
    background-position: -81px -8px;
    width: 34px;
    height: 28px;    
}
.box-team-item .btn-be:hover span{    
    background-position: -82px -47px;
}
.box-team-item .btn-web span{    
    background-position: -126px -8px;
    width: 30px;
    height: 29px;    
}
.box-team-item .btn-web:hover span{    
    background-position: -126px -46px;
}
.grid-blog {
    display: grid;
    grid-template-areas: "a b" "c d" "e f";   
    grid-template-columns: 1fr 1fr;
  /*  height: 1200px;*/
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;  
    margin: 127px auto 0;              
}
.grid-blog-1 {
    grid-area: a;
    background-image: url(../img/blog1.png);
    background-size: auto;
    background-repeat: no-repeat;     
}
.grid-blog-2 {
    width: auto;
    height: 400px;
    grid-area: b; 
    padding: 0 120px 0 18px;   
}
.grid-blog-3 {
    grid-area: c;    
    padding :0 117px 0 3px;
    width: auto;
    height: 400px;
}
.grid-blog-4 {
    grid-area: d;
    background-image: url(../img/blog2.png);
    background-size: auto;
    background-repeat: no-repeat; 
}    
.grid-blog-5 {
    grid-area: e;
    background-image: url(../img/blog3.png);
    background-size: auto;
    background-repeat: no-repeat; 
}
.grid-blog-6 {
    grid-area: f;
    padding: 0 120px 0 18px;
    width: auto;
    height: 400px;
}
.grid-blog-2 h3, .grid-blog-3 h3, .grid-blog-6 h3 {
    font-size: 25px;
    font-weight: 600;
    color: #212121;
    margin: 67px auto 42px;
    letter-spacing: 1.2px;
}
.blog-date {
    margin: 0;
    letter-spacing: 1.1px;
}
.blog-text {
    margin: 30px auto 0;
    line-height: 22px;
    letter-spacing: 0.9px;
}
.blog-date span:first-child {    
    background-image: url(../img/blog4.png);
    background-repeat: no-repeat;
    background-size: 19px 19px;
    padding: 0 18px 0 0px;
    margin-right: 15px;
    background-position: center;
}
.blog-date span:last-child {    
    background-image: url(../img/blog5.png);
    background-repeat: no-repeat;
    background-size: 15px 18px;
    padding: 0 0px 0 36px;
    margin-left: 31px;
    background-position: center;
}
.box-blog-item-text {
    margin-bottom: 30px;
}
.blog-more {
    margin: 155px 56px 28px 0;
    text-align: center;
}
.blog-more .btn-blog {    
    color: #212121;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #212121;
    padding: 19px 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.blog-more .btn-blog:hover {  
    color: #fff;
    background-color: #00897b;
    border: 2px solid #00897b;
}
.contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0px 60px 77px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.contact-item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 87px auto 0;
}
.contact-item p {
    width: 250px;
    margin: 28px auto 0;
    letter-spacing: 1px;
    line-height: 1.5;
}
.contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    height: 100%;
    margin: -5px 67px 0 70px;
}
.contact-form-item {
    margin-bottom: 33px;
    position: relative;
    width: 48.6%;
}    
.contact-form-text {
    width: 100%;
    margin-bottom: 42px;
}
.contact-form input, .contact-form textarea {
    font-size: 20px;
    font-weight: 600;
    padding: 27px 30px 29px 19px;
    border-radius: 11px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    letter-spacing: 1px;
}
.contact-form .contact-form-name {
    margin-right: 28px;
}
.contact-form textarea {
    min-height: 324px;
    resize: none;
}
.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {color: #212121;}
.contact-form input::-moz-placeholder, .contact-form textarea::-moz-placeholder {color: #212121;}
.contact-form input:-moz-placeholder, .contact-form textarea:-moz-placeholder {color: #212121;}
.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {color: #212121;}

.contact-form .btn-mail {
    position: relative;
    padding: 23px 88px;
    border-radius: 11px;
    color: #212121;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    max-width: 221px;   
    margin-left: auto;
    margin-right: 0;
}
.btn-mail {    
    text-align: center;
}

/*PAGES*/

.page-header {
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: cover;
    padding: 0 0 71px 0;
    position: relative;   
}
.page-about-us {
    background-color: #fff;
    position: relative;
    padding: 115px 0 123px 0;
}
.page-services {
    background-color: #e4fdf9;
    position: relative;
    padding: 163px 0 13px 0;
} 
.page-work {
    background-color: #fff;
    position: relative;
    padding: 120px 0 165px 0;
} 
.page-pricing {
    background-color: #f0f1f1;
    position: relative;
    padding: 118px 0 122px 0;
} 
.page-team {
    background-color: #fff;
    position: relative;
    padding: 111px 0 124px 0;
} 
.page-blog {
    background-color: #e4fdf9;
    position: relative;
    padding: 115px 0 129px 0;
} 
.page-contact {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 115px 0 73px 0;
} 
.footer {
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px; 
    margin: 26px auto;    
}


/*@media*/

@media (max-width:1200px) {
    .box-blog-item {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       width: 60%;       
        -ms-flex-item-align: center;       
            align-self: center;
    }
    .grid-work {        
        grid-gap: 20px;
        height: 700px;
    }        
    .blog-img {
        width: 100%;
        margin: 10px 0; 
        padding: 0; 
        -ms-flex-preferred-size: 600px; 
            flex-basis: 600px;      
    }
    .box-blog-item>div {
        padding: 0;
        margin: 0 auto;
        -ms-flex-preferred-size: 600px;
            flex-basis: 600px;
    }
    .box-blog-item>div h3 {
        margin: 30px auto;
        padding: 10px 0;
    }
    .blog-more {
        margin: 80px auto 0;
    }
}    
@media (max-width:1010px) {
    .grid-services {
        grid-template-areas: "a b" "c d" "e f";
        grid-template-columns: 1fr 1fr;        
    }
    .page-header {
        padding: 0 0 5px 0;
    }    
    h1 {
        margin: 127px auto 0;
    }  
    .nav>li {
        padding: 0 10px;
        font-size: 21px;
    }         
    .title-header h3 {        
        margin: 70px auto 171px;
       line-height: 1.5;    
    }   
    .btn-group {
        margin: 150px auto 110px;
    }    
    .contact-form .contact-form-name, .contact-form .contact-form-mail {
        width: 100%;
        margin-right: 0; 
    }    
    .box-blog-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 20 auto;
    }
    .blog-img {
        width: 100%;
        margin: 10px 0; 
        padding: 0;       
    }
    .box-blog-item>div {
        padding: 0;
        margin: 0 auto;
    }
    .box-blog-item h3 {
        margin: 30px auto;
        padding: 10px 0;
    }
    .blog-more {
        margin: 80px auto 0;
    }
}
@media (max-width:840px) {
    .modal {
        max-width: 550px;
    }
    .nav {
        display: none;        
    }
    .btn-menu {
        display: block; 
    }
    h1 {
        font-size: 54px;
        font-weight: 600;
        margin: 0 auto;
        line-height: 60px;
        width: 600px;
    }
    .title-header {
        margin: 80px auto;
    }
    .title-header h3 {
        font-size: 20px;
        font-weight: 400; 
        margin: 50px auto;
        width: 400px;       
    }
    .btn-group {
        margin: 150px auto 100px;
    }
    .btn-primary, .btn-secondary {        
        font-size: 18px;       
        font-weight: 400;        
        border: 2px solid #fff;
        padding: 15px 20px;
        margin: 0 auto;
    }
    .grid-services {
        grid-template-areas: "a b" "c d" "e f";
        grid-template-columns: 1fr 1fr;        
        grid-gap: 30px;
        margin: 0 30px;  
       
        margin: 50px 30px;
    }   
    .grid-work {
        grid-template-areas: "a b" "c d" "e f";
        grid-template-columns: 1fr 1fr;        
        grid-gap: 5px;          
        height: 1150px;    
    }
    .grid-item, .grid-item-work {
        background-size: contain;
    }
    .grid-blog {        
        grid-template-areas: "b" "c" "f";        
        grid-template-columns: 1fr;
        margin: 0;      
    }
    .grid-blog-2, .grid-blog-3, .grid-blog-6 {
        height: auto;
        padding: 0;
    }    

    .grid-blog-2 h3, .grid-blog-3 h3, .grid-blog-6 h3 {
        margin: 41px auto;
    }    

    .flex-work>li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 40px auto;
        width: 200px;
    }
    .flex-work {
        margin: 20px auto;
    }
}    
@media (max-width:630px) {    
    .modal {
        max-width: 300px;
    }*
    .grid-services {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-columns: 1fr;        
        grid-gap: 15px; 
        width: 400px;  
        margin: 100px auto;
    }
    .btn-services {
        font-size: 14px;
        font-weight: 500;
        padding: 16px 5px;       
        margin: 47px auto;  
        width: 100px;     
    }        
    .grid-work {
        grid-template-areas: "a" "b" "c" "d" "e" "f";
        grid-template-columns: 1fr;
        grid-gap: 5px;   
        height: 2500px;            
    }   
    .grid-item, .grid-item-work {
       background-size: cover;
    }
    h1 {
        font-size: 42px;
        font-weight: 700;
        margin: 0 auto;
        line-height: 50px;
        width: 400px;
    }
    .title-header {
        margin: 80px auto;
    }
    .title-header h3 {
        font-size: 15px;
        font-weight: 400; 
        margin: 50px auto;
        width: 300px;       
    }
    .btn-group {
        margin: 150px auto 50px;
    }
    .btn-primary, .btn-secondary {        
        font-size: 14px;       
        font-weight: 400;        
        border: 2px solid #fff;
        padding: 10px 15px;
        margin: 0 auto;
    }
    .flex-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 
    .flex-about-item {  
        margin: 15px auto;
    }
    .box-price {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;       
    }
    .box-price-item {
        background-size: cover;
        margin: 60px 20px 0;
    }
    
    .box-team-item {
        margin: 50px auto 0;
    }
    .wrap-blog {
        margin: 20px auto; 
    }    
   
    .contact-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contact-item {
        margin: 20px auto;
    }
    .contact-form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0 auto;
    }
    .contact-form-item {
        margin: 10px auto;
        width: 100%;
        font-size: 15px;
        font-weight: 400;
    }
    .contact-form input, .contact-form textarea {
        font-size: 15px;
        font-weight: 400;
        padding: 10px 15px 15px 10px;
    }    
    .contact-form .btn-mail {
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 600;      
    }           

}    